.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 150px;
    li {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }
}