.text-portada {
    position: relative;
    top: 200px;

    .card-title{
        color: #f8a910;
        font-family: 'Caveat', cursive;
        font-size: 150px;
        
    }
    .card-text{
        color: rgb(75, 170, 187);; 
        font-size: 40px;
        font-weight: 200;
        
    }

}
